.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

body {
  background-color: #c0ebf9;
}

h1 {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #467745;
}
.place {
  display: flex;

  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  color: #467745;
  width: 600px;

  height: 64px;
  margin-left: 20px;

  margin-bottom: 10px;
}
.txarea {
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 16px;
  color: #467745;
  width: 600px;
  height: 120px;
  margin-left: 20px;
}
.adat1 {
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 16px;
  color: #467745;
  margin-left: 20px;
}
label {
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 16px;
  color: #467745;
}

.adat2 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: regular;
  font-size: 16px;
  color: #467745;

  margin-left: 20px;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 21px;
  background-color: #467745;
  color: #c0ebf9;
  letter-spacing: 0.2em;
  max-width: 280px;
  height: 80px;
}

@media screen and (width <= 640px) {
  .all {
    width: 100%-40px;
  }
}
